In [3]:
import pandas as pd

In [4]:
import os as os

In [5]:
import numpy as np

In [46]:
popcuttack = pd.read_excel('F:\Python\India Population Data\Odisha\Cuttack.xlsx')

In [48]:
popcuttack.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2001 entries, 0 to 2000
Data columns (total 95 columns):
State             2001 non-null int64
District          2001 non-null int64
DT Name           2001 non-null object
CD Block          2001 non-null int64
Town/Village      2001 non-null int64
Ward              2001 non-null int64
EB                2001 non-null int64
Level             2001 non-null object
Name              2001 non-null object
TRU               2001 non-null object
No_HH             2001 non-null int64
TOT_P             2001 non-null int64
TOT_M             2001 non-null int64
TOT_F             2001 non-null int64
P_06              2001 non-null int64
M_06              2001 non-null int64
F_06              2001 non-null int64
P_SC              2001 non-null int64
M_SC              2001 non-null int64
F_SC              2001 non-null int64
P_ST              2001 non-null int64
M_ST              2001 non-null int64
F_ST              2001 non-null int64
P_LIT             2001 non-null int64
M_LIT             2001 non-null int64
F_LIT             2001 non-null int64
P_ILL             2001 non-null int64
M_ILL             2001 non-null int64
F_ILL             2001 non-null int64
TOT_WORK_P        2001 non-null int64
TOT_WORK_M        2001 non-null int64
TOT_WORK_F        2001 non-null int64
MAINWORK_P        2001 non-null int64
MAINWORK_M        2001 non-null int64
MAINWORK_F        2001 non-null int64
MAIN_CL_P         2001 non-null int64
MAIN_CL_M         2001 non-null int64
MAIN_CL_F         2001 non-null int64
MAIN_AL_P         2001 non-null int64
MAIN_AL_M         2001 non-null int64
MAIN_AL_F         2001 non-null int64
MAIN_HH_P         2001 non-null int64
MAIN_HH_M         2001 non-null int64
MAIN_HH_F         2001 non-null int64
MAIN_OT_P         2001 non-null int64
MAIN_OT_M         2001 non-null int64
MAIN_OT_F         2001 non-null int64
MARGWORK_P        2001 non-null int64
MARGWORK_M        2001 non-null int64
MARGWORK_F        2001 non-null int64
MARG_CL_P         2001 non-null int64
MARG_CL_M         2001 non-null int64
MARG_CL_F         2001 non-null int64
MARG_AL_P         2001 non-null int64
MARG_AL_M         2001 non-null int64
MARG_AL_F         2001 non-null int64
MARG_HH_P         2001 non-null int64
MARG_HH_M         2001 non-null int64
MARG_HH_F         2001 non-null int64
MARG_OT_P         2001 non-null int64
MARG_OT_M         2001 non-null int64
MARG_OT_F         2001 non-null int64
MARGWORK_3_6_P    2001 non-null int64
MARGWORK_3_6_M    2001 non-null int64
MARGWORK_3_6_F    2001 non-null int64
MARG_CL_3_6_P     2001 non-null int64
MARG_CL_3_6_M     2001 non-null int64
MARG_CL_3_6_F     2001 non-null int64
MARG_AL_3_6_P     2001 non-null int64
MARG_AL_3_6_M     2001 non-null int64
MARG_AL_3_6_F     2001 non-null int64
MARG_HH_3_6_P     2001 non-null int64
MARG_HH_3_6_M     2001 non-null int64
MARG_HH_3_6_F     2001 non-null int64
MARG_OT_3_6_P     2001 non-null int64
MARG_OT_3_6_M     2001 non-null int64
MARG_OT_3_6_F     2001 non-null int64
MARGWORK_0_3_P    2001 non-null int64
MARGWORK_0_3_M    2001 non-null int64
MARGWORK_0_3_F    2001 non-null int64
MARG_CL_0_3_P     2001 non-null int64
MARG_CL_0_3_M     2001 non-null int64
MARG_CL_0_3_F     2001 non-null int64
MARG_AL_0_3_P     2001 non-null int64
MARG_AL_0_3_M     2001 non-null int64
MARG_AL_0_3_F     2001 non-null int64
MARG_HH_0_3_P     2001 non-null int64
MARG_HH_0_3_M     2001 non-null int64
MARG_HH_0_3_F     2001 non-null int64
MARG_OT_0_3_P     2001 non-null int64
MARG_OT_0_3_M     2001 non-null int64
MARG_OT_0_3_F     2001 non-null int64
NON_WORK_P        2001 non-null int64
NON_WORK_M        2001 non-null int64
NON_WORK_F        2001 non-null int64
dtypes: int64(91), object(4)
memory usage: 1.5+ MB

In [49]:
popcuttack.shape

(2001, 95)

In [50]:
popcuttack.head()

,State,District,DT Name,CD Block,Town/Village,Ward,EB,Level,Name,TRU,...,MARG_AL_0_3_F,MARG_HH_0_3_P,MARG_HH_0_3_M,MARG_HH_0_3_F,MARG_OT_0_3_P,MARG_OT_0_3_M,MARG_OT_0_3_F,NON_WORK_P,NON_WORK_M,NON_WORK_F
0,21,381,Cuttack,116,0,0,0,CD BLOCK,Jagatsinghapur,Total,...,0,0,0,0,0,0,0,254,85,169
1,21,381,Cuttack,116,0,0,0,CD BLOCK,Jagatsinghapur,Rural,...,0,0,0,0,0,0,0,254,85,169
2,21,381,Cuttack,116,0,0,0,CD BLOCK,Jagatsinghapur,Urban,...,0,0,0,0,0,0,0,0,0,0
3,21,381,Cuttack,116,400292,0,0,VILLAGE,Odapada,Rural,...,0,0,0,0,0,0,0,254,85,169
4,21,381,Cuttack,122,0,0,0,CD BLOCK,Narasinghpur,Rural,...,2565,147,40,107,303,160,143,96808,35385,61423

In [11]:
y=10

In [12]:
x=y+10

In [13]:
x

20

In [14]:
z=x**2

In [15]:
z

400

In [16]:
a=x/y

In [17]:
a

2.0

In [18]:
type(a)

float

In [19]:
b=2*(x+3)

In [20]:
b

46

In [21]:
type(b)

int

In [22]:
c=float(9)

In [23]:
c

9.0

In [24]:
d=int(11.6)

In [25]:
d

11

In [26]:
complex(2,4)

(2+4j)

In [51]:
popcuttack.groupby(['DT Name','TOT_M','TOT_F','NON_WORK_M','NON_WORK_F']).NON_WORK_P.sum().head()

DT Name  TOT_M  TOT_F  NON_WORK_M  NON_WORK_F
Cuttack  0      0      0           0             0
         1      0      1           0             1
         2      1      0           0             0
                2      1           2             3
         3      0      1           0             1
Name: NON_WORK_P, dtype: int64

In [52]:
popcuttack[popcuttack['NON_WORK_P'] >= 3].shape

(1888, 95)

In [53]:
popcuttack['NON_WORK_P'].sum()  #Total Number of Non work person in Cuttack

2473582

In [54]:
popcuttack['TOT_WORK_P'].sum() #Total Number of work person in Cuttack

1400124

In [56]:
s='Subham_Mukherjee'

In [57]:
len(s)

16

In [58]:
s[8]

'u'

In [59]:
s[:5]

'Subha'

In [60]:
s[4:]

'am_Mukherjee'

In [61]:
s[3:13]

'ham_Mukher'

In [62]:
s[:]

'Subham_Mukherjee'

In [64]:
s='Subham\'s_score'
s

"Subham's_score"

In [65]:
s1 = s.split('_')
s1

["Subham's", 'score']

In [66]:
s1[0]

"Subham's"

In [67]:
s1[1]

'score'

In [71]:
s2='Subham,is,a,good,boy'
s2.split(',')
s2='is,subham,a'
s2.split(',')[2]

'a'

In [72]:
s1 = 'Swami'

In [73]:
s2 = 'Vivekananda'

In [74]:
s3 = s1+s2
s3

'SwamiVivekananda'

In [75]:
s1+' '+s2

'Swami Vivekananda'

In [76]:
l = [3,6,9,10,44]
l

[3, 6, 9, 10, 44]

In [77]:
l[3]

10

In [78]:
l[0]

3

In [79]:
l[-1]

44

In [83]:
l[-5]

3

In [84]:
l[4]=144
l

[3, 6, 9, 10, 144]

In [85]:
l[0:]

[3, 6, 9, 10, 144]

In [86]:
l[:3]

[3, 6, 9]

In [87]:
l[9:]

[]

In [88]:
l[1:4]

[6, 9, 10]

In [89]:
len(l)

5

In [93]:
l.insert(0,50)

In [94]:
l

[50, 3, 6, 9, 10, 144]

In [95]:
l.insert(0,100)

In [96]:
l

[100, 50, 3, 6, 9, 10, 144]

In [97]:
l.remove(6)

In [98]:
l

[100, 50, 3, 9, 10, 144]

In [101]:
p=['Latan']
l+p

[100, 50, 3, 9, 10, 144, 'Latan']

In [102]:
type(l)

list

In [103]:
type(s)

str

In [1]:
employee = {'Name':'Subham','Empid':'E_001','DOB':'08/04/1994','DOJ':'15/07/2016','Designation':'Data Scientist'}

In [2]:
employee

{'DOB': '08/04/1994',
 'DOJ': '15/07/2016',
 'Designation': 'Data Scientist',
 'Empid': 'E_001',
 'Name': 'Subham'}

In [4]:
employee['DOJ']

'15/07/2016'

In [5]:
len(employee)

5

In [6]:
'DOB' in employee.keys()

True

In [7]:
employee.keys()

dict_keys(['DOB', 'Designation', 'DOJ', 'Name', 'Empid'])

In [8]:
employee.values()

dict_values(['08/04/1994', 'Data Scientist', '15/07/2016', 'Subham', 'E_001'])

In [9]:
states = ['Odisha','Maharastra','Delhi']#Creating Dictionary using zip

In [10]:
CM = ['Naveen Pattnaik','Devendra Fadnavis','Arvind Kejriwal']

In [11]:
CMname = dict(zip(states,CM))

In [12]:
CMname

{'Delhi': 'Arvind Kejriwal',
 'Maharastra': 'Devendra Fadnavis',
 'Odisha': 'Naveen Pattnaik'}

In [13]:
t = ('a',9,'k','o',7,4)#Tuples

In [14]:
t

('a', 9, 'k', 'o', 7, 4)

In [16]:
t[2:4]

('k', 'o')

In [17]:
t[2:3]

('k',)

In [18]:
s = {1,2,3,3} 
d = {'key':'value'}
s

{1, 2, 3}

In [19]:
s1 = {'A', 'a', 'A', 'aa', 'b', 5,8,8.0}
s1

{'a', 'A', 5, 'b', 8.0, 'aa'}

In [20]:
s.add(6)
s

{1, 2, 3, 6}

In [21]:
s.update(s1)
s

{'a', 1, 2, 3, 'A', 5, 6, 'b', 8.0, 'aa'}

In [22]:
s.discard(2)
s

{'a', 1, 3, 'A', 5, 6, 'b', 8.0, 'aa'}

In [23]:
if 2 > 10:
    print( "2 is grater than 1")#If else Basics

In [24]:
x = 20
y = 20
z = 100

if x > y:
    print( "x is greater than y and y is greater than 15")
elif x == y:
    print( "x is equal to y")

else:
    print( "x is less than y")

x is equal to y

In [25]:
#Multiple conditions:

x = 2
y = 1
z = 4

if x > y and y > z:  #logical operator
    print( True)
else:
    print( False)

False

In [26]:
x = 2
y = 1
z = 3

if (x > y and y > z) or z > x:
    print( True)
else:
    print( False)

True

In [28]:
import pandas as pd

In [29]:
df = pd.DataFrame(data={'portion':[1, 2, 3, 4], 'used':[1.0, 0.3, 0.0, 0.8]})
df
#if the "PortionUsed" column says "1.0" I'd like the new "Alert" column to say "Full". If the if the "PortionUsed" 
#column says "0.0" I'd like the new "Alert" column to say "Empty". Otherwise, I'd like the Alert column to say 
#"Partial.

def alert(c):
    if c['used'] == 1.0:
        return 'Full'
    elif c['used'] == 0.0:
        return 'Empty'
    elif 0.0 < c['used'] < 1.0:
        return 'Partial'
    else:
        return 'Undefined'


df['alert'] = df.apply(alert, axis=1)
df

   portion  used    alert
0        1   1.0     Full
1        2   0.3  Partial
2        3   0.0    Empty
3        4   0.8  Partial

In [30]:
i = 0
while i < 6:    #breaking condition
    i += 1
    print( i)

1
2
3
4
5
6

In [31]:
#Using break and continue

i = 0
while True:  #infinite loop
    i += 1
    print( i)
    if i == 10:
        break # you have to call break to break out of the loop

1
2
3
4
5
6
7
8
9
10

In [32]:
#Print odd numbers between 0 to 100

i = 0
while i < 100:
    i += 1
    if i%2 == 0: 
        continue

    print( i)
    break

1

In [33]:
#range(stop)
#range(start, stop[, step])

for i in range(5): 
    print(i)

0
1
2
3
4

In [34]:
for i in range(2,0):
    print(i)

In [35]:
#iterating the list on element
l = [24, 33, 12, 99, 4]
for num in l:
    print( num)

24
33
12
99
4

In [36]:
n = 5
l*2

[24, 33, 12, 99, 4, 24, 33, 12, 99, 4]

In [37]:
#Return a new list with cube of all the values
l = [1,2,3,4,5]
cube_l = []

for number in l:
    c = number**3
    cube_l.append(c)
    
cube_l

[1, 8, 27, 64, 125]

In [38]:
#Return a new list only with numbers that are greater than the previous number in the list

l = [24, 33, 12, 99, 4]
l_greater = []
for i in range(0, len(l)-1, 1): #range(stop) range(start, stop,step)
    if l[i] > l[i+1]:
        #l_greater.append(l[i])
        print(l[i])
        
#l_greater

33
99

In [39]:
s = input( "Enter a few numbers separated by space: ")
s

Enter a few numbers separated by space: 8 9 9 8 8

'8 9 9 8 8 '

In [40]:
s = s.split(' ')
s

['8', '9', '9', '8', '8', '']

In [41]:
s[0]*5

'88888'

In [43]:
d = {'India': 'New Delhi', 'USA': 'Washington DC', 'UK': 'London'}
for key, val in d.items():
    print(key, val)

UK London
USA Washington DC
India New Delhi

In [44]:
s = 'abc'
s
for blah in s:
    print(blah * 2)

aa
bb
cc