In [1]:
import os as os

In [2]:
import pandas as pd

In [3]:
os.getcwd()

'C:\\Users\\Admin'

In [4]:
os.chdir('F:\STUDY\Digital_Vidya\Data Analytics\Python-4')

In [5]:
os.listdir()

['Links.txt',
 'mortDefault.zip',
 'mortDefault2000.csv',
 'mortDefault2001.csv',
 'mortDefault2002.csv',
 'mortDefault2003.csv',
 'mortDefault2004.csv',
 'mortDefault2005.csv',
 'mortDefault2006.csv',
 'mortDefault2007.csv',
 'mortDefault2008.csv',
 'mortDefault2009.csv']

In [25]:
filelist = os.listdir()

In [26]:
mortDefault = [pd.read_csv(i) for i in filelist]

In [28]:
type(mortdefault)

pandas.core.frame.DataFrame

In [30]:
mort11=pd.concat (mortDefault,ignore_index=True)

In [31]:
mort11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000002 entries, 0 to 10000001
Data columns (total 7 columns):
ccDebt                                                                              float64
creditScore                                                                         float64
default                                                                             float64
houseAge                                                                            float64
https://nbviewer.jupyter.org/gist/decisionstats/42b3fc90ae6fa537a19a08017e0336cb    object
year                                                                                float64
yearsEmploy                                                                         float64
dtypes: float64(6), object(1)
memory usage: 534.1+ MB

In [32]:
mort11.head()

,ccDebt,creditScore,default,houseAge,https://nbviewer.jupyter.org/gist/decisionstats/42b3fc90ae6fa537a19a08017e0336cb,year,yearsEmploy
0,NaN,NaN,NaN,NaN,http://pandas.pydata.org/pandas-docs/stable/ge...,NaN,NaN
1,NaN,NaN,NaN,NaN,http://pandas.pydata.org/pandas-docs/stable/me...,NaN,NaN
2,2818.0,615.0,0.0,10.0,NaN,2000.0,5.0
3,3575.0,780.0,0.0,34.0,NaN,2000.0,5.0
4,3184.0,735.0,0.0,12.0,NaN,2000.0,1.0